{% load easy_thumbnails_tags %}
{% load thumbnail %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Слайдер Slick</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-xl-5">
        <div class="container-fluid d-flex justify-content-between align-items-center">

            <button class="navbar-toggler text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="img-fluid" src="{% static 'img/logo.png' %}" width="90px" height="60px">
            </a>
            <span class="d-lg-none navbar-text">
                <button class="btn btn-danger rounded mx-3">ВХОД</button>
            </span>

            <div class="collapse navbar-collapse justify-content-center" id="navbarText">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#advantages" aria-current="page" href="#">ПРЕИМУЩЕСТВА</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#photo">ФОТОГРАФИИ</a>
                    </li>
                </ul>
            </div>

            <!-- Кнопка "Вход" справа для ПК -->
            <span class="d-none d-lg-block navbar-text">
                <button class="btn btn-danger rounded mx-3">ВХОД</button>
            </span>
        </div>
    </nav>


    <div id="advantages" class="container-fluid mt-5">
        <div class="row justify-content-center text-center">
            <div class="col-10 col-md-8 col-sm-12">
                <h1 class="display-4 fw-bold">Космическое агентство</h1>
                <p class="text-center" style="max-width: 100%;">Национальное управление по аэронавтике и исследованию космического пространства — ведомство, относящееся к федеральному правительству США и подчиняющееся непосредственно президенту США.</p>
            </div>
        </div>
    </div>


    <div class="container-fluid mt-5">

        <div class="row px-xl-5 align-items-center">

            <div class="col-md-7">
                <div class="row gy-4 mb-3">
                    <!-- Убрал d-flex align-items-center для упрощения -->
                    <div class="col-6 col-md-6 d-flex flex-column align-items-center">
                        <img class="img-fluid" src="{% static 'img/1.jpg' %}" alt="Спейс шаттлы">
                        <p class="mt-2 text-center">Спейс шаттлы — пилотируемые корабли</p>
                    </div>
                    <div class="col-6 col-md-6 d-flex flex-column align-items-center">
                        <img class="img-fluid" src="{% static 'img/2.jpg' %}" alt="Лучшее телескопическое оборудование">
                        <p class="mt-2 text-center">Лучшее телескопическое оборудование</p>
                    </div>
                </div>
                <div class="row gy-4 mt-5">
                    <div class="col-6 col-md-6 d-flex flex-column align-items-center">
                        <img class="img-fluid" src="{% static 'img/3.jpg' %}" alt="Целимся на Луну и Марс">
                        <p class="mt-2 text-center">Целимся на Луну и Марс</p>
                    </div>
                    <div class="col-6 col-md-6 d-flex flex-column align-items-center">
                        <img class="img-fluid" src="{% static 'img/4.jpg' %}" alt="Золотая медаль по научным исследованиям">
                        <p class="mt-2 text-center">Золотая медаль по научным исследованиям</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <img src="{% static 'img/space.png' %}" class="img-fluid" alt="Большое изображение">
            </div>
        </div>
    </div>

    <div id="photo" class="container-fluid bg-secondary pt-5 m-0">
        <h2 class="text-white text-center fw-bolder pt-3">Фотографии</h2>
        <div class="slider-for pt-3 text-center">
            {% for image in slider_images %}
            <div>
                <a class="gallery" href="{{ image.image.url }}">
                    <img src="{% thumbnail image.image 750x420 crop %}" alt="{{ image.title }}" class="img-fluid" />
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="slider-nav">
            {% for image in slider_images %}
            <div>
                <img src="{% thumbnail image.image 150x150 crop %}" alt="{{ image.title }}" class="img-fluid" />
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.slider-for').slick({
                centerMode: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '.slider-nav'
            });
            $('.slider-nav').slick({
                centerMode: true,
                slidesToShow: 5,
                slidesToScroll: 1,
                asNavFor: '.slider-for',
                dots: false,
                centerMode: true,
                focusOnSelect: true,
                variableWidth: true,
                arrows: true,
                responsive: [{
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 5,
                            slidesToScroll: 1,
                            infinite: true,
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 5,
                            slidesToScroll: 1,
                            arrows: false,
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 5,
                            slidesToScroll: 1,
                            arrows: false,
                        }
                    }
                ]

            });
            Fancybox.bind('.gallery', {
                groupAll: true,
            });
        });
    </script>

</body>

</html>